<div class="container">
  <footer class="footer"
    <small>
      Copyright &copy; <a href="www.udemy.com">Michael McKenna</a>
    </small>
    <nav>
      <ul>
        
      </ul>
    </nav>
  </footer>
</div>
